h1
{
	color: red;

}
p
{
	color: blue;
}
h3{
	text-align: center;
}
nav
{
	text-align: right;
}
iframe
{
	text-align: center;
}

li {
	background: green;}
li:nth-child(odd)
{background: red;}
